body {
    background-color: #091f9c;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #3143a7;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}